[data-page="bolsa_users_cambio_contrasenha_add"][data-itemid="text"] {
  background-color: transparent;
  font-family: "Open Sans";
}
[data-page="bolsa_users_cambio_contrasenha_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


