[data-page="cvc_experiencia_laboral_add"][data-itemid="add_header"] {
  color: #000000;
}
[data-page="cvc_experiencia_laboral_add"][data-itemid="text"] {
  color: #999999;
  font-size: 13px;
  font-family: "Open Sans";
}
[data-page="cvc_experiencia_laboral_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


