[data-page="mejorar_empleabilidad_edit"][data-itemid="edit_field_label"][data-page="mejorar_empleabilidad_edit"][data-itemid="edit_field_label"][data-page="mejorar_empleabilidad_edit"][data-itemid="edit_field_label"][data-page="mejorar_empleabilidad_edit"][data-itemid="edit_field_label"] {
  color: #ffffff;
  font-weight: bold;
}
[data-page="mejorar_empleabilidad_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


