[data-page="vacancia_habilidad_conocimiento_list"][data-itemid="simple_grid_field"] {
  font-size: 14px;
  white-space: normal;
}
[data-page="vacancia_habilidad_conocimiento_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


