[data-cellid="grid_c7"][data-page="vacancia_edit"][data-cellid="grid_c7"][data-page="vacancia_edit"][data-cellid="grid_c7"][data-page="vacancia_edit"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="details_preview"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="details_preview1"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="details_preview2"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="details_preview3"] {
  background-color: #ffffff;
}
[data-page="vacancia_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


