[data-cellid="grid_cell_top"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_top"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_top"][data-page="vacancia_requisito_excluyente_detalle_list"] {
  border: none;
}
[data-cellid="grid_cell_dpreview"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_dpreview"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_dpreview"][data-page="vacancia_requisito_excluyente_detalle_list"] {
  border: none;
}
[data-cellid="grid_cell_label"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_label"][data-page="vacancia_requisito_excluyente_detalle_list"][data-cellid="grid_cell_label"][data-page="vacancia_requisito_excluyente_detalle_list"] {
  background-color: transparent;
  border: none;
}
[data-page="vacancia_requisito_excluyente_detalle_list"][data-itemid="simple_grid_field2"] {
  font-size: 14px;
  white-space: normal;
}
[data-page="vacancia_requisito_excluyente_detalle_list"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
}
[data-page="vacancia_requisito_excluyente_detalle_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


