[data-cellid="grid_cell_field23"][data-page="vacancia_list"][data-cellid="grid_cell_field23"][data-page="vacancia_list"][data-cellid="grid_cell_field23"][data-page="vacancia_list"] {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}
[data-cellid="grid_cell_field1"][data-page="vacancia_list"][data-cellid="grid_cell_field1"][data-page="vacancia_list"][data-cellid="grid_cell_field1"][data-page="vacancia_list"] {
  width: 100%;
}
[data-cellid="grid_cell_field4"][data-page="vacancia_list"][data-cellid="grid_cell_field4"][data-page="vacancia_list"][data-cellid="grid_cell_field4"][data-page="vacancia_list"] {
  width: 50%;
}
[data-cellid="grid_cell_label"][data-page="vacancia_list"][data-cellid="grid_cell_label"][data-page="vacancia_list"][data-cellid="grid_cell_label"][data-page="vacancia_list"] {
  width: 100%;
}
[data-cellid="grid_cell_field5"][data-page="vacancia_list"][data-cellid="grid_cell_field5"][data-page="vacancia_list"][data-cellid="grid_cell_field5"][data-page="vacancia_list"] {
  width: 100%;
}
[data-cellid="grid_cell_label1"][data-page="vacancia_list"][data-cellid="grid_cell_label1"][data-page="vacancia_list"][data-cellid="grid_cell_label1"][data-page="vacancia_list"] {
  padding: 10px;
}
[data-cellid="grid_cell_field"][data-page="vacancia_list"][data-cellid="grid_cell_field"][data-page="vacancia_list"][data-cellid="grid_cell_field"][data-page="vacancia_list"] {
  width: 50%;
}
[data-cellid="grid_cell_field7"][data-page="vacancia_list"][data-cellid="grid_cell_field7"][data-page="vacancia_list"][data-cellid="grid_cell_field7"][data-page="vacancia_list"] {
  width: 50%;
}
[data-cellid="grid_cell_field9"][data-page="vacancia_list"][data-cellid="grid_cell_field9"][data-page="vacancia_list"][data-cellid="grid_cell_field9"][data-page="vacancia_list"] {
  width: 50%;
  padding: 10px;
}
[data-page="vacancia_list"][data-itemid="details_found"] {
  color: #ffffff;
  font-size: 16px;
}
[data-page="vacancia_list"][data-itemid="simple_grid_field"] {
  color: #000000;
  font-size: 20px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="simple_grid_field11"] {
  font-weight: bold;
  font-size: 25px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="simple_grid_field34"] {
  font-size: 16px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="simple_grid_field1"] {
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="logo"] {
  background-color: transparent;
}
[data-page="vacancia_list"][data-itemid="simple_grid_field3"] {
  font-size: 14px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="grid_edit"] > .btn {
  width: 150px;
}
[data-page="vacancia_list"][data-itemid="grid_edit"] {
  padding: 2px;
}
[data-page="vacancia_list"][data-itemid="text"] {
  font-size: 14px;
}
[data-page="vacancia_list"][data-itemid="tx_geo"] {
  font-size: 14px;
}
[data-page="vacancia_list"][data-itemid="grid_field"] {
  font-size: 14px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="grid_field2"] {
  font-weight: bold;
  font-size: 15px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="text2"] {
  font-size: 15px;
}
[data-page="vacancia_list"][data-itemid="text3"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="vacancia_list"][data-itemid="text4"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}
[data-page="vacancia_list"][data-itemid="grid_field3"] {
  font-size: 15px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="grid_field_label1"] {
  font-size: 15px;
}
[data-page="vacancia_list"][data-itemid="text5"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 46px;
}
[data-page="vacancia_list"][data-itemid="custom_postularse"] > .btn {
  width: 150px;
}
[data-page="vacancia_list"][data-itemid="custom_postularse"] {
  padding: 2px;
  padding-top: 5px;
}
[data-page="vacancia_list"][data-itemid="custom_cancelar_postu"] > .btn {
  width: 150px;
}
[data-page="vacancia_list"][data-itemid="custom_cancelar_postu"] {
  padding: 2px;
  padding-top: 5px;
}
[data-page="vacancia_list"][data-itemid="grid_field1"] {
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="grid_field4"] {
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="text7"] {
  font-size: 25px;
}
[data-page="vacancia_list"][data-itemid="text8"] {
  background-color: transparent;
  color: #000000;
  font-size: 20px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="grid_field5"] {
  font-size: 15px;
  font-family: "Open Sans";
}
[data-page="vacancia_list"][data-itemid="custom_button_share_vacancy"] > .btn {
  width: 150px;
}
[data-page="vacancia_list"][data-itemid="custom_button_share_vacancy"] {
  padding-top: 5px;
  padding: 2px;
}
[data-page="vacancia_list"][data-itemid="logo_emplea_py_joven"] {
  width: 100%;
  padding: 10px;
}
[data-page="vacancia_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

[data-cellid="above-grid_c1"][data-page="vacancia_list"][data-cellid="above-grid_c1"][data-page="vacancia_list"][data-cellid="above-grid_c1"][data-page="vacancia_list"] {
  z-index:1;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c4"][data-page="vacancia_list"][data-cellid="above-grid_c4"][data-page="vacancia_list"][data-cellid="above-grid_c4"][data-page="vacancia_list"] {
  z-index:1;
}

[data-cellid="above-grid_c"][data-page="vacancia_list"][data-cellid="above-grid_c"][data-page="vacancia_list"][data-cellid="above-grid_c"][data-page="vacancia_list"] {
  z-index:1;
}

[data-cellid="above-grid_c6"][data-page="vacancia_list"][data-cellid="above-grid_c6"][data-page="vacancia_list"][data-cellid="above-grid_c6"][data-page="vacancia_list"] {
  z-index:1;
}

/* Put  your custom CSS code here */

[data-cellid="supertop_c"][data-page="vacancia_list"][data-cellid="supertop_c"][data-page="vacancia_list"][data-cellid="supertop_c"][data-page="vacancia_list"] {
    display: flex; 
    justify-content: flex-end;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field9"][data-page="vacancia_list"][data-cellid="grid_cell_field9"][data-page="vacancia_list"][data-cellid="grid_cell_field9"][data-page="vacancia_list"] {
  overflow: hidden;
}
/* Put  your custom CSS code here */

[data-page="vacancia_list"][data-itemid="username_button"] {
   float: right!important;
}

/* Put  your custom CSS code here */

[data-page="vacancia_list"][data-itemid="logo_emplea_py_joven"] {
    float: right;
    max-width:150px;
}

/* Put  your custom CSS code here */

/* Personalizacion especial para el div que muestra las vacancias subsidiadas */
@keyframes pulse {
  0% { transform: rotate(-45deg) scale(1); opacity: 0; }
  50% { transform: rotate(-45deg) scale(1.05); opacity: 1; }
  100% { transform: rotate(-45deg) scale(1); opacity: 1; }
}

.badge-especial {
  position: absolute;
  top: 8px;
  left: -20px;
  /*background: rgba(40, 167, 69, 0.85);*/ /* Verde con transparencia */
  background: rgba(40, 167, 69, 0.65);
  color: white;
  /*padding: 3px 25px;*/
  padding: 7px 8px;
  transform: rotate(-45deg);
  font-weight: 600;
  font-size: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  pointer-events: none;
  animation: pulse 0.8s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  font-family: "Segoe UI", sans-serif;
}
/* Fin Personalizacion especial */