[data-cellid="grid_c3"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c3"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c3"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c4"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c4"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c4"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c6"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c6"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c6"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c8"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c8"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c8"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c10"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c10"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c10"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c11"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c11"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c11"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c12"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c12"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c12"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c14"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c14"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c14"][data-page="vista_curriculum_cvc_view"] {
  border: none;
  width: 500px;
}
[data-cellid="grid_c15"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c15"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c15"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c16"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c16"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c16"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c18"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c18"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c18"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c24"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c24"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c24"][data-page="vista_curriculum_cvc_view"] {
  border: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
[data-cellid="grid_c25"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c25"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c25"][data-page="vista_curriculum_cvc_view"] {
  border: none;
}
[data-cellid="grid_c1"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c1"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c1"][data-page="vista_curriculum_cvc_view"] {
  padding-bottom: 20px;
}
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > * > input,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > * > textarea,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > * > select,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > * > * > select,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > .form-control-static,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > [id^=view],
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] label,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field4"] > * > .r-readonly-control {
  font-weight: bold;
}
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > * > input,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > * > textarea,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > * > select,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > * > * > select,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > .form-control-static,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > [id^=view],
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] label,
[data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"][data-page="vista_curriculum_cvc_view"][data-itemid="integrated_edit_field1"] > * > .r-readonly-control {
  font-weight: bold;
}
[data-page="vista_curriculum_cvc_view"][data-itemid="image"] {
  width: 1500px;
}
[data-page="vista_curriculum_cvc_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"][data-cellid="grid_c13"][data-page="vista_curriculum_cvc_view"] {
  
    justify-content: center;
    align-items: center;
}

