<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel bolsa_empleo_cvc_experiencia_laboral view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cvc_id_experiencia_laboral_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cvc_id_experiencia_laboral}  r-vertical-field" data-fieldname="cvc_id_experiencia_laboral" data-signal-error-for="cvc_id_experiencia_laboral{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="cvc_id_experiencia_laboral" data-fieldname="cvc_id_experiencia_laboral" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cvc_id_experiencia_laboral}">
		
		{BEGIN cvc_id_experiencia_laboral_label}{$label bolsa_empleo_cvc_experiencia_laboral cvc_id_experiencia_laboral }{END cvc_id_experiencia_laboral_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cvc_id_experiencia_laboral_value}	</div>

		
</div>


{END cvc_id_experiencia_laboral_fieldblock}
											
{BEGIN fk_persona_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_persona_id}  r-vertical-field" data-fieldname="fk_persona_id" data-signal-error-for="fk_persona_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="fk_persona_id" data-fieldname="fk_persona_id" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fk_persona_id}">
		
		{BEGIN fk_persona_id_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_persona_id }{END fk_persona_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fk_persona_id_value}	</div>

		
</div>


{END fk_persona_id_fieldblock}
											
{BEGIN fk_categoria_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_categoria_id}  r-vertical-field" data-fieldname="fk_categoria_id" data-signal-error-for="fk_categoria_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="fk_categoria_id" data-fieldname="fk_categoria_id" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fk_categoria_id}">
		
		{BEGIN fk_categoria_id_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_categoria_id }{END fk_categoria_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fk_categoria_id_value}	</div>

		
</div>


{END fk_categoria_id_fieldblock}
											
{BEGIN empresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_empresa}  r-vertical-field" data-fieldname="empresa" data-signal-error-for="empresa{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="empresa" data-fieldname="empresa" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_empresa}">
		
		{BEGIN empresa_label}{$label bolsa_empleo_cvc_experiencia_laboral empresa }{END empresa_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$empresa_value}	</div>

		
</div>


{END empresa_fieldblock}
											
{BEGIN fk_puesto_ocupacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_puesto_ocupacion}  r-vertical-field" data-fieldname="fk_puesto_ocupacion" data-signal-error-for="fk_puesto_ocupacion{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fk_puesto_ocupacion" data-fieldname="fk_puesto_ocupacion" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fk_puesto_ocupacion}">
		
		{BEGIN fk_puesto_ocupacion_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_puesto_ocupacion }{END fk_puesto_ocupacion_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fk_puesto_ocupacion_value}	</div>

		
</div>


{END fk_puesto_ocupacion_fieldblock}
											
{BEGIN anhos_de_experiencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_anhos_de_experiencia}  r-vertical-field" data-fieldname="anhos_de_experiencia" data-signal-error-for="anhos_de_experiencia{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="anhos_de_experiencia" data-fieldname="anhos_de_experiencia" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_anhos_de_experiencia}">
		
		{BEGIN anhos_de_experiencia_label}{$label bolsa_empleo_cvc_experiencia_laboral anhos_de_experiencia }{END anhos_de_experiencia_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$anhos_de_experiencia_value}	</div>

		
</div>


{END anhos_de_experiencia_fieldblock}
											
{BEGIN descripcion_puesto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_puesto}  r-vertical-field" data-fieldname="descripcion_puesto" data-signal-error-for="descripcion_puesto{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="descripcion_puesto" data-fieldname="descripcion_puesto" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_descripcion_puesto}">
		
		{BEGIN descripcion_puesto_label}{$label bolsa_empleo_cvc_experiencia_laboral descripcion_puesto }{END descripcion_puesto_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$descripcion_puesto_value}	</div>

		
</div>


{END descripcion_puesto_fieldblock}
											
{BEGIN fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_inicio}  r-vertical-field" data-fieldname="fecha_inicio" data-signal-error-for="fecha_inicio{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="fecha_inicio" data-fieldname="fecha_inicio" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fecha_inicio}">
		
		{BEGIN fecha_inicio_label}{$label bolsa_empleo_cvc_experiencia_laboral fecha_inicio }{END fecha_inicio_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fecha_inicio_value}	</div>

		
</div>


{END fecha_inicio_fieldblock}
											
{BEGIN fecha_fin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_fin}  r-vertical-field" data-fieldname="fecha_fin" data-signal-error-for="fecha_fin{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="fecha_fin" data-fieldname="fecha_fin" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fecha_fin}">
		
		{BEGIN fecha_fin_label}{$label bolsa_empleo_cvc_experiencia_laboral fecha_fin }{END fecha_fin_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fecha_fin_value}	</div>

		
</div>


{END fecha_fin_fieldblock}
											
{BEGIN fk_habilidades_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_habilidades}  r-vertical-field" data-fieldname="fk_habilidades" data-signal-error-for="fk_habilidades{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="fk_habilidades" data-fieldname="fk_habilidades" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_fk_habilidades}">
		
		{BEGIN fk_habilidades_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_habilidades }{END fk_habilidades_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$fk_habilidades_value}	</div>

		
</div>


{END fk_habilidades_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Cerrar ventana			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="cvc_experiencia_laboral_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Editar		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
