<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emplea :: Buscador  - {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" src="images/imgob23/gob_ico.png" type="image/x-icon" sizes="32x32"> 
	<base href="{$projectPath}">
	 <link rel="stylesheet" href="images/icons_v4/font/bootstrap-icons.css">
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.mtess.gov.py/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     crossorigin=""/>
 		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>
	<body class="{$stylename} function-add"  >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class=" r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class=" r-ori-vert navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav navbar-nav" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{BEGIN item_haschildren2} dropdown {END item_haschildren2} 
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h data-menu-top >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-bottom"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{BEGIN item_haschildren2} dropdown {END item_haschildren2}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{BEGIN item_haschildren3} dropdown {END item_haschildren3}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{BEGIN item_haschildren4} dropdown {END item_haschildren4}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			dropdown-menu
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{BEGIN item_haschildren5} dropdown {END item_haschildren5}
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-h >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon glyphicon glyphicon-triangle-right"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel bolsa_empleo_cvc_experiencia_laboral add}</h2>
	</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}	</div>					</div>
	</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fk_categoria_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_categoria_id}  r-vertical-field" 
	data-signal-error-for="fk_categoria_id{$id}" {$required_attr_fk_categoria_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="fk_categoria_id" data-fieldname="fk_categoria_id" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_categoria_id}">
		{BEGIN fk_categoria_id_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_categoria_id }{END fk_categoria_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fk_categoria_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_categoria_id" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fk_categoria_id } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fk_categoria_id }		</div>
	</div>
</div>


{END fk_categoria_id_fieldblock}
											
{BEGIN empresa_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_empresa}  r-vertical-field" 
	data-signal-error-for="empresa{$id}" {$required_attr_empresa}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="empresa" data-fieldname="empresa" >

	<label class="r-edit-label control-label" for="{$labelfor_empresa}">
		{BEGIN empresa_label}{$label bolsa_empleo_cvc_experiencia_laboral empresa }{END empresa_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$empresa_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="empresa" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral empresa } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral empresa }		</div>
	</div>
</div>


{END empresa_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=""
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fecha_inicio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_inicio}  r-vertical-field" 
	data-signal-error-for="fecha_inicio{$id}" {$required_attr_fecha_inicio}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="fecha_inicio" data-fieldname="fecha_inicio" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_inicio}">
		{BEGIN fecha_inicio_label}{$label bolsa_empleo_cvc_experiencia_laboral fecha_inicio }{END fecha_inicio_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_inicio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_inicio" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fecha_inicio } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fecha_inicio }		</div>
	</div>
</div>


{END fecha_inicio_fieldblock}
											
{BEGIN fecha_fin_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_fin}  r-vertical-field" 
	data-signal-error-for="fecha_fin{$id}" {$required_attr_fecha_fin}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="fecha_fin" data-fieldname="fecha_fin" >

	<label class="r-edit-label control-label" for="{$labelfor_fecha_fin}">
		{BEGIN fecha_fin_label}{$label bolsa_empleo_cvc_experiencia_laboral fecha_fin }{END fecha_fin_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fecha_fin_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fecha_fin" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fecha_fin } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fecha_fin }		</div>
	</div>
</div>


{END fecha_fin_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fk_puesto_ocupacion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_puesto_ocupacion}  r-vertical-field" 
	data-signal-error-for="fk_puesto_ocupacion{$id}" {$required_attr_fk_puesto_ocupacion}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="fk_puesto_ocupacion" data-fieldname="fk_puesto_ocupacion" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_puesto_ocupacion}">
		{BEGIN fk_puesto_ocupacion_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_puesto_ocupacion }{END fk_puesto_ocupacion_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fk_puesto_ocupacion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_puesto_ocupacion" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fk_puesto_ocupacion } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fk_puesto_ocupacion }		</div>
	</div>
</div>


{END fk_puesto_ocupacion_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=""
	
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN anhos_de_experiencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_anhos_de_experiencia}  r-vertical-field" 
	data-signal-error-for="anhos_de_experiencia{$id}" {$required_attr_anhos_de_experiencia}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="anhos_de_experiencia" data-fieldname="anhos_de_experiencia" >

	<label class="r-edit-label control-label" for="{$labelfor_anhos_de_experiencia}">
		{BEGIN anhos_de_experiencia_label}{$label bolsa_empleo_cvc_experiencia_laboral anhos_de_experiencia }{END anhos_de_experiencia_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$anhos_de_experiencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="anhos_de_experiencia" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral anhos_de_experiencia } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral anhos_de_experiencia }		</div>
	</div>
</div>


{END anhos_de_experiencia_fieldblock}
											
{BEGIN meses_de_experiencia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_meses_de_experiencia}  r-vertical-field" 
	data-signal-error-for="meses_de_experiencia{$id}" {$required_attr_meses_de_experiencia}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="meses_de_experiencia" data-fieldname="meses_de_experiencia" >

	<label class="r-edit-label control-label" for="{$labelfor_meses_de_experiencia}">
		{BEGIN meses_de_experiencia_label}{$label bolsa_empleo_cvc_experiencia_laboral meses_de_experiencia }{END meses_de_experiencia_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$meses_de_experiencia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="meses_de_experiencia" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral meses_de_experiencia } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral meses_de_experiencia }		</div>
	</div>
</div>


{END meses_de_experiencia_fieldblock}
	
								</td>
			{END cellblock_grid_c1}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fk_habilidades_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_habilidades}  r-vertical-field" 
	data-signal-error-for="fk_habilidades{$id}" {$required_attr_fk_habilidades}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="fk_habilidades" data-fieldname="fk_habilidades" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_habilidades}">
		{BEGIN fk_habilidades_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_habilidades }{END fk_habilidades_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fk_habilidades_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_habilidades" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fk_habilidades } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fk_habilidades }		</div>
	</div>
</div>


{END fk_habilidades_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			
		orowspan="2"	data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fk_persona_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_persona_id}  r-vertical-field" 
	data-signal-error-for="fk_persona_id{$id}" {$required_attr_fk_persona_id}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="fk_persona_id" data-fieldname="fk_persona_id" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_persona_id}">
		{BEGIN fk_persona_id_label}{$label bolsa_empleo_cvc_experiencia_laboral fk_persona_id }{END fk_persona_id_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$fk_persona_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_persona_id" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral fk_persona_id } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral fk_persona_id }		</div>
	</div>
</div>


{END fk_persona_id_fieldblock}
											
{BEGIN descripcion_puesto_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_puesto}  r-vertical-field" 
	data-signal-error-for="descripcion_puesto{$id}" {$required_attr_descripcion_puesto}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="descripcion_puesto" data-fieldname="descripcion_puesto" >

	<label class="r-edit-label control-label" for="{$labelfor_descripcion_puesto}">
		{BEGIN descripcion_puesto_label}{$label bolsa_empleo_cvc_experiencia_laboral descripcion_puesto }{END descripcion_puesto_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$descripcion_puesto_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="descripcion_puesto" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral descripcion_puesto } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral descripcion_puesto }		</div>
	</div>
</div>


{END descripcion_puesto_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN proveedor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_proveedor}  r-vertical-field" 
	data-signal-error-for="proveedor{$id}" {$required_attr_proveedor}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="proveedor" data-fieldname="proveedor" >

	<label class="r-edit-label control-label" for="{$labelfor_proveedor}">
		{BEGIN proveedor_label}{$label bolsa_empleo_cvc_experiencia_laboral proveedor }{END proveedor_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$proveedor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="proveedor" {$tooltipAttr bolsa_empleo_cvc_experiencia_laboral proveedor } >
		<div class="text-muted" >
		{$tooltip bolsa_empleo_cvc_experiencia_laboral proveedor }		</div>
	</div>
</div>


{END proveedor_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
