<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emplea :: Buscador  - {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" src="images/imgob23/gob_ico.png" type="image/x-icon" sizes="32x32"> 
	<base href="{$projectPath}">
	 <link rel="stylesheet" href="images/icons_v4/font/bootstrap-icons.css">
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.mtess.gov.py/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     crossorigin=""/>
 		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel detalle_vacancia search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_vacancias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_vacancias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_vacancias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_vacancias" data-fieldname="id_vacancias" >


	<label class="r-search-label control-label" for="{$labelfor_id_vacancias}">
		{$label detalle_vacancia id_vacancias }	</label>
	<div class="r-search-option">
		{$searchtype_id_vacancias}
	</div>
	<div class="r-search-field">
		{$id_vacancias_editcontrol}	</div>
	<div class="r-search-field">
		{$id_vacancias_editcontrol1}
	</div>
	
</div>

{END id_vacancias_fieldblock}
											
{BEGIN fecha_creacion_vacancia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_creacion_vacancia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_creacion_vacancia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="fecha_creacion_vacancia" data-fieldname="fecha_creacion_vacancia" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_creacion_vacancia}">
		{$label detalle_vacancia fecha_creacion_vacancia }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_creacion_vacancia}
	</div>
	<div class="r-search-field">
		{$fecha_creacion_vacancia_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_creacion_vacancia_editcontrol1}
	</div>
	
</div>

{END fecha_creacion_vacancia_fieldblock}
											
{BEGIN fecha_expiracion_vacancia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fecha_expiracion_vacancia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fecha_expiracion_vacancia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="fecha_expiracion_vacancia" data-fieldname="fecha_expiracion_vacancia" >


	<label class="r-search-label control-label" for="{$labelfor_fecha_expiracion_vacancia}">
		{$label detalle_vacancia fecha_expiracion_vacancia }	</label>
	<div class="r-search-option">
		{$searchtype_fecha_expiracion_vacancia}
	</div>
	<div class="r-search-field">
		{$fecha_expiracion_vacancia_editcontrol}	</div>
	<div class="r-search-field">
		{$fecha_expiracion_vacancia_editcontrol1}
	</div>
	
</div>

{END fecha_expiracion_vacancia_fieldblock}
											
{BEGIN cantidad_vacancia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_cantidad_vacancia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="cantidad_vacancia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="cantidad_vacancia" data-fieldname="cantidad_vacancia" >


	<label class="r-search-label control-label" for="{$labelfor_cantidad_vacancia}">
		{$label detalle_vacancia cantidad_vacancia }	</label>
	<div class="r-search-option">
		{$searchtype_cantidad_vacancia}
	</div>
	<div class="r-search-field">
		{$cantidad_vacancia_editcontrol}	</div>
	<div class="r-search-field">
		{$cantidad_vacancia_editcontrol1}
	</div>
	
</div>

{END cantidad_vacancia_fieldblock}
											
{BEGIN id_empresa_sucursal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_empresa_sucursal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_empresa_sucursal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_empresa_sucursal" data-fieldname="id_empresa_sucursal" >


	<label class="r-search-label control-label" for="{$labelfor_id_empresa_sucursal}">
		{$label detalle_vacancia id_empresa_sucursal }	</label>
	<div class="r-search-option">
		{$searchtype_id_empresa_sucursal}
	</div>
	<div class="r-search-field">
		{$id_empresa_sucursal_editcontrol}	</div>
	<div class="r-search-field">
		{$id_empresa_sucursal_editcontrol1}
	</div>
	
</div>

{END id_empresa_sucursal_fieldblock}
											
{BEGIN id_contacto_sucursal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_contacto_sucursal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_contacto_sucursal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="id_contacto_sucursal" data-fieldname="id_contacto_sucursal" >


	<label class="r-search-label control-label" for="{$labelfor_id_contacto_sucursal}">
		{$label detalle_vacancia id_contacto_sucursal }	</label>
	<div class="r-search-option">
		{$searchtype_id_contacto_sucursal}
	</div>
	<div class="r-search-field">
		{$id_contacto_sucursal_editcontrol}	</div>
	<div class="r-search-field">
		{$id_contacto_sucursal_editcontrol1}
	</div>
	
</div>

{END id_contacto_sucursal_fieldblock}
											
{BEGIN nombre_puesto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre_puesto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre_puesto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="nombre_puesto" data-fieldname="nombre_puesto" >


	<label class="r-search-label control-label" for="{$labelfor_nombre_puesto}">
		{$label detalle_vacancia nombre_puesto }	</label>
	<div class="r-search-option">
		{$searchtype_nombre_puesto}
	</div>
	<div class="r-search-field">
		{$nombre_puesto_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_puesto_editcontrol1}
	</div>
	
</div>

{END nombre_puesto_fieldblock}
											
{BEGIN id_rubro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_rubro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_rubro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="id_rubro" data-fieldname="id_rubro" >


	<label class="r-search-label control-label" for="{$labelfor_id_rubro}">
		{$label detalle_vacancia id_rubro }	</label>
	<div class="r-search-option">
		{$searchtype_id_rubro}
	</div>
	<div class="r-search-field">
		{$id_rubro_editcontrol}	</div>
	<div class="r-search-field">
		{$id_rubro_editcontrol1}
	</div>
	
</div>

{END id_rubro_fieldblock}
											
{BEGIN id_cidudad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_cidudad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_cidudad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="id_cidudad" data-fieldname="id_cidudad" >


	<label class="r-search-label control-label" for="{$labelfor_id_cidudad}">
		{$label detalle_vacancia id_cidudad }	</label>
	<div class="r-search-option">
		{$searchtype_id_cidudad}
	</div>
	<div class="r-search-field">
		{$id_cidudad_editcontrol}	</div>
	<div class="r-search-field">
		{$id_cidudad_editcontrol1}
	</div>
	
</div>

{END id_cidudad_fieldblock}
											
{BEGIN id_departamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_departamento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_departamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="id_departamento" data-fieldname="id_departamento" >


	<label class="r-search-label control-label" for="{$labelfor_id_departamento}">
		{$label detalle_vacancia id_departamento }	</label>
	<div class="r-search-option">
		{$searchtype_id_departamento}
	</div>
	<div class="r-search-field">
		{$id_departamento_editcontrol}	</div>
	<div class="r-search-field">
		{$id_departamento_editcontrol1}
	</div>
	
</div>

{END id_departamento_fieldblock}
											
{BEGIN salario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_salario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="salario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="salario" data-fieldname="salario" >


	<label class="r-search-label control-label" for="{$labelfor_salario}">
		{$label detalle_vacancia salario }	</label>
	<div class="r-search-option">
		{$searchtype_salario}
	</div>
	<div class="r-search-field">
		{$salario_editcontrol}	</div>
	<div class="r-search-field">
		{$salario_editcontrol1}
	</div>
	
</div>

{END salario_fieldblock}
											
{BEGIN tipo_contrato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_contrato}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_contrato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="tipo_contrato" data-fieldname="tipo_contrato" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_contrato}">
		{$label detalle_vacancia tipo_contrato }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_contrato}
	</div>
	<div class="r-search-field">
		{$tipo_contrato_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_contrato_editcontrol1}
	</div>
	
</div>

{END tipo_contrato_fieldblock}
											
{BEGIN nacionalidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nacionalidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nacionalidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="nacionalidad" data-fieldname="nacionalidad" >


	<label class="r-search-label control-label" for="{$labelfor_nacionalidad}">
		{$label detalle_vacancia nacionalidad }	</label>
	<div class="r-search-option">
		{$searchtype_nacionalidad}
	</div>
	<div class="r-search-field">
		{$nacionalidad_editcontrol}	</div>
	<div class="r-search-field">
		{$nacionalidad_editcontrol1}
	</div>
	
</div>

{END nacionalidad_fieldblock}
											
{BEGIN genero_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_genero}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="genero{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="genero" data-fieldname="genero" >


	<label class="r-search-label control-label" for="{$labelfor_genero}">
		{$label detalle_vacancia genero }	</label>
	<div class="r-search-option">
		{$searchtype_genero}
	</div>
	<div class="r-search-field">
		{$genero_editcontrol}	</div>
	<div class="r-search-field">
		{$genero_editcontrol1}
	</div>
	
</div>

{END genero_fieldblock}
											
{BEGIN id_formacion_academica_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_formacion_academica}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_formacion_academica{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="id_formacion_academica" data-fieldname="id_formacion_academica" >


	<label class="r-search-label control-label" for="{$labelfor_id_formacion_academica}">
		{$label detalle_vacancia id_formacion_academica }	</label>
	<div class="r-search-option">
		{$searchtype_id_formacion_academica}
	</div>
	<div class="r-search-field">
		{$id_formacion_academica_editcontrol}	</div>
	<div class="r-search-field">
		{$id_formacion_academica_editcontrol1}
	</div>
	
</div>

{END id_formacion_academica_fieldblock}
											
{BEGIN movilidad_propia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_movilidad_propia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="movilidad_propia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="movilidad_propia" data-fieldname="movilidad_propia" >


	<label class="r-search-label control-label" for="{$labelfor_movilidad_propia}">
		{$label detalle_vacancia movilidad_propia }	</label>
	<div class="r-search-option">
		{$searchtype_movilidad_propia}
	</div>
	<div class="r-search-field">
		{$movilidad_propia_editcontrol}	</div>
	<div class="r-search-field">
		{$movilidad_propia_editcontrol1}
	</div>
	
</div>

{END movilidad_propia_fieldblock}
											
{BEGIN tipo_movilidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_movilidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_movilidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="tipo_movilidad" data-fieldname="tipo_movilidad" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_movilidad}">
		{$label detalle_vacancia tipo_movilidad }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_movilidad}
	</div>
	<div class="r-search-field">
		{$tipo_movilidad_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_movilidad_editcontrol1}
	</div>
	
</div>

{END tipo_movilidad_fieldblock}
											
{BEGIN id_registro_conducir_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_registro_conducir}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_registro_conducir{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="id_registro_conducir" data-fieldname="id_registro_conducir" >


	<label class="r-search-label control-label" for="{$labelfor_id_registro_conducir}">
		{$label detalle_vacancia id_registro_conducir }	</label>
	<div class="r-search-option">
		{$searchtype_id_registro_conducir}
	</div>
	<div class="r-search-field">
		{$id_registro_conducir_editcontrol}	</div>
	<div class="r-search-field">
		{$id_registro_conducir_editcontrol1}
	</div>
	
</div>

{END id_registro_conducir_fieldblock}
											
{BEGIN discapacidad_aceptada_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_discapacidad_aceptada}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="discapacidad_aceptada{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="discapacidad_aceptada" data-fieldname="discapacidad_aceptada" >


	<label class="r-search-label control-label" for="{$labelfor_discapacidad_aceptada}">
		{$label detalle_vacancia discapacidad_aceptada }	</label>
	<div class="r-search-option">
		{$searchtype_discapacidad_aceptada}
	</div>
	<div class="r-search-field">
		{$discapacidad_aceptada_editcontrol}	</div>
	<div class="r-search-field">
		{$discapacidad_aceptada_editcontrol1}
	</div>
	
</div>

{END discapacidad_aceptada_fieldblock}
											
{BEGIN discapacidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_discapacidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="discapacidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="discapacidad" data-fieldname="discapacidad" >


	<label class="r-search-label control-label" for="{$labelfor_discapacidad}">
		{$label detalle_vacancia discapacidad }	</label>
	<div class="r-search-option">
		{$searchtype_discapacidad}
	</div>
	<div class="r-search-field">
		{$discapacidad_editcontrol}	</div>
	<div class="r-search-field">
		{$discapacidad_editcontrol1}
	</div>
	
</div>

{END discapacidad_fieldblock}
											
{BEGIN edad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="edad" data-fieldname="edad" >


	<label class="r-search-label control-label" for="{$labelfor_edad}">
		{$label detalle_vacancia edad }	</label>
	<div class="r-search-option">
		{$searchtype_edad}
	</div>
	<div class="r-search-field">
		{$edad_editcontrol}	</div>
	<div class="r-search-field">
		{$edad_editcontrol1}
	</div>
	
</div>

{END edad_fieldblock}
											
{BEGIN descripcion_puesto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripcion_puesto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripcion_puesto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="descripcion_puesto" data-fieldname="descripcion_puesto" >


	<label class="r-search-label control-label" for="{$labelfor_descripcion_puesto}">
		{$label detalle_vacancia descripcion_puesto }	</label>
	<div class="r-search-option">
		{$searchtype_descripcion_puesto}
	</div>
	<div class="r-search-field">
		{$descripcion_puesto_editcontrol}	</div>
	<div class="r-search-field">
		{$descripcion_puesto_editcontrol1}
	</div>
	
</div>

{END descripcion_puesto_fieldblock}
											
{BEGIN requisitos_exclu_formacion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_requisitos_exclu_formacion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="requisitos_exclu_formacion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="requisitos_exclu_formacion" data-fieldname="requisitos_exclu_formacion" >


	<label class="r-search-label control-label" for="{$labelfor_requisitos_exclu_formacion}">
		{$label detalle_vacancia requisitos_exclu_formacion }	</label>
	<div class="r-search-option">
		{$searchtype_requisitos_exclu_formacion}
	</div>
	<div class="r-search-field">
		{$requisitos_exclu_formacion_editcontrol}	</div>
	<div class="r-search-field">
		{$requisitos_exclu_formacion_editcontrol1}
	</div>
	
</div>

{END requisitos_exclu_formacion_fieldblock}
											
{BEGIN habilidades_conocimiento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_habilidades_conocimiento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="habilidades_conocimiento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="habilidades_conocimiento" data-fieldname="habilidades_conocimiento" >


	<label class="r-search-label control-label" for="{$labelfor_habilidades_conocimiento}">
		{$label detalle_vacancia habilidades_conocimiento }	</label>
	<div class="r-search-option">
		{$searchtype_habilidades_conocimiento}
	</div>
	<div class="r-search-field">
		{$habilidades_conocimiento_editcontrol}	</div>
	<div class="r-search-field">
		{$habilidades_conocimiento_editcontrol1}
	</div>
	
</div>

{END habilidades_conocimiento_fieldblock}
											
{BEGIN anos_experiencia_vacancia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_anos_experiencia_vacancia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="anos_experiencia_vacancia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="anos_experiencia_vacancia" data-fieldname="anos_experiencia_vacancia" >


	<label class="r-search-label control-label" for="{$labelfor_anos_experiencia_vacancia}">
		{$label detalle_vacancia anos_experiencia_vacancia }	</label>
	<div class="r-search-option">
		{$searchtype_anos_experiencia_vacancia}
	</div>
	<div class="r-search-field">
		{$anos_experiencia_vacancia_editcontrol}	</div>
	<div class="r-search-field">
		{$anos_experiencia_vacancia_editcontrol1}
	</div>
	
</div>

{END anos_experiencia_vacancia_fieldblock}
											
{BEGIN id_estado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_estado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_estado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="id_estado" data-fieldname="id_estado" >


	<label class="r-search-label control-label" for="{$labelfor_id_estado}">
		{$label detalle_vacancia id_estado }	</label>
	<div class="r-search-option">
		{$searchtype_id_estado}
	</div>
	<div class="r-search-field">
		{$id_estado_editcontrol}	</div>
	<div class="r-search-field">
		{$id_estado_editcontrol1}
	</div>
	
</div>

{END id_estado_fieldblock}
											
{BEGIN ruc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ruc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ruc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="ruc" data-fieldname="ruc" >


	<label class="r-search-label control-label" for="{$labelfor_ruc}">
		{$label detalle_vacancia ruc }	</label>
	<div class="r-search-option">
		{$searchtype_ruc}
	</div>
	<div class="r-search-field">
		{$ruc_editcontrol}	</div>
	<div class="r-search-field">
		{$ruc_editcontrol1}
	</div>
	
</div>

{END ruc_fieldblock}
											
{BEGIN id_vacancia_requisito_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_vacancia_requisito}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_vacancia_requisito{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="id_vacancia_requisito" data-fieldname="id_vacancia_requisito" >


	<label class="r-search-label control-label" for="{$labelfor_id_vacancia_requisito}">
		{$label detalle_vacancia id_vacancia_requisito }	</label>
	<div class="r-search-option">
		{$searchtype_id_vacancia_requisito}
	</div>
	<div class="r-search-field">
		{$id_vacancia_requisito_editcontrol}	</div>
	<div class="r-search-field">
		{$id_vacancia_requisito_editcontrol1}
	</div>
	
</div>

{END id_vacancia_requisito_fieldblock}
											
{BEGIN legal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_legal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="legal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="legal" data-fieldname="legal" >


	<label class="r-search-label control-label" for="{$labelfor_legal}">
		{$label detalle_vacancia legal }	</label>
	<div class="r-search-option">
		{$searchtype_legal}
	</div>
	<div class="r-search-field">
		{$legal_editcontrol}	</div>
	<div class="r-search-field">
		{$legal_editcontrol1}
	</div>
	
</div>

{END legal_fieldblock}
											
{BEGIN localidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_localidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="localidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="localidad" data-fieldname="localidad" >


	<label class="r-search-label control-label" for="{$labelfor_localidad}">
		{$label detalle_vacancia localidad }	</label>
	<div class="r-search-option">
		{$searchtype_localidad}
	</div>
	<div class="r-search-field">
		{$localidad_editcontrol}	</div>
	<div class="r-search-field">
		{$localidad_editcontrol1}
	</div>
	
</div>

{END localidad_fieldblock}
											
{BEGIN puesto_add_edit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_puesto_add_edit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="puesto_add_edit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field45" {$item_integrated_search_field45} data-pageid="{$pageid}" data-field="puesto_add_edit" data-fieldname="puesto_add_edit" >


	<label class="r-search-label control-label" for="{$labelfor_puesto_add_edit}">
		{$label detalle_vacancia puesto_add_edit }	</label>
	<div class="r-search-option">
		{$searchtype_puesto_add_edit}
	</div>
	<div class="r-search-field">
		{$puesto_add_edit_editcontrol}	</div>
	<div class="r-search-field">
		{$puesto_add_edit_editcontrol1}
	</div>
	
</div>

{END puesto_add_edit_fieldblock}
											
{BEGIN id_rubro_add_edit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_rubro_add_edit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_rubro_add_edit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field46" {$item_integrated_search_field46} data-pageid="{$pageid}" data-field="id_rubro_add_edit" data-fieldname="id_rubro_add_edit" >


	<label class="r-search-label control-label" for="{$labelfor_id_rubro_add_edit}">
		{$label detalle_vacancia id_rubro_add_edit }	</label>
	<div class="r-search-option">
		{$searchtype_id_rubro_add_edit}
	</div>
	<div class="r-search-field">
		{$id_rubro_add_edit_editcontrol}	</div>
	<div class="r-search-field">
		{$id_rubro_add_edit_editcontrol1}
	</div>
	
</div>

{END id_rubro_add_edit_fieldblock}
											
{BEGIN meses_experiencia_vacancia_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_meses_experiencia_vacancia}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="meses_experiencia_vacancia{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field49" {$item_integrated_search_field49} data-pageid="{$pageid}" data-field="meses_experiencia_vacancia" data-fieldname="meses_experiencia_vacancia" >


	<label class="r-search-label control-label" for="{$labelfor_meses_experiencia_vacancia}">
		{$label detalle_vacancia meses_experiencia_vacancia }	</label>
	<div class="r-search-option">
		{$searchtype_meses_experiencia_vacancia}
	</div>
	<div class="r-search-field">
		{$meses_experiencia_vacancia_editcontrol}	</div>
	<div class="r-search-field">
		{$meses_experiencia_vacancia_editcontrol1}
	</div>
	
</div>

{END meses_experiencia_vacancia_fieldblock}
											
{BEGIN id_descripcion_salario_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_descripcion_salario}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_descripcion_salario{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="id_descripcion_salario" data-fieldname="id_descripcion_salario" >


	<label class="r-search-label control-label" for="{$labelfor_id_descripcion_salario}">
		{$label detalle_vacancia id_descripcion_salario }	</label>
	<div class="r-search-option">
		{$searchtype_id_descripcion_salario}
	</div>
	<div class="r-search-field">
		{$id_descripcion_salario_editcontrol}	</div>
	<div class="r-search-field">
		{$id_descripcion_salario_editcontrol1}
	</div>
	
</div>

{END id_descripcion_salario_fieldblock}
											
{BEGIN modalidad_trabajo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_modalidad_trabajo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="modalidad_trabajo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="modalidad_trabajo" data-fieldname="modalidad_trabajo" >


	<label class="r-search-label control-label" for="{$labelfor_modalidad_trabajo}">
		{$label detalle_vacancia modalidad_trabajo }	</label>
	<div class="r-search-option">
		{$searchtype_modalidad_trabajo}
	</div>
	<div class="r-search-field">
		{$modalidad_trabajo_editcontrol}	</div>
	<div class="r-search-field">
		{$modalidad_trabajo_editcontrol1}
	</div>
	
</div>

{END modalidad_trabajo_fieldblock}
											
{BEGIN tipo_remuneracion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_remuneracion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_remuneracion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="tipo_remuneracion" data-fieldname="tipo_remuneracion" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_remuneracion}">
		{$label detalle_vacancia tipo_remuneracion }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_remuneracion}
	</div>
	<div class="r-search-field">
		{$tipo_remuneracion_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_remuneracion_editcontrol1}
	</div>
	
</div>

{END tipo_remuneracion_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
