<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emplea :: Buscador  - {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" src="images/imgob23/gob_ico.png" type="image/x-icon" sizes="32x32"> 
	<base href="{$projectPath}">
	 <link rel="stylesheet" href="images/icons_v4/font/bootstrap-icons.css">
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.mtess.gov.py/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     crossorigin=""/>
 		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel eportal_persons search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label eportal_persons id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN nombre_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombre}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombre{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="nombre" data-fieldname="nombre" >


	<label class="r-search-label control-label" for="{$labelfor_nombre}">
		{$label eportal_persons nombre }	</label>
	<div class="r-search-option">
		{$searchtype_nombre}
	</div>
	<div class="r-search-field">
		{$nombre_editcontrol}	</div>
	<div class="r-search-field">
		{$nombre_editcontrol1}
	</div>
	
</div>

{END nombre_fieldblock}
											
{BEGIN apellidos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_apellidos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="apellidos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="apellidos" data-fieldname="apellidos" >


	<label class="r-search-label control-label" for="{$labelfor_apellidos}">
		{$label eportal_persons apellidos }	</label>
	<div class="r-search-option">
		{$searchtype_apellidos}
	</div>
	<div class="r-search-field">
		{$apellidos_editcontrol}	</div>
	<div class="r-search-field">
		{$apellidos_editcontrol1}
	</div>
	
</div>

{END apellidos_fieldblock}
											
{BEGIN nacionalidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nacionalidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nacionalidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="nacionalidad" data-fieldname="nacionalidad" >


	<label class="r-search-label control-label" for="{$labelfor_nacionalidad}">
		{$label eportal_persons nacionalidad }	</label>
	<div class="r-search-option">
		{$searchtype_nacionalidad}
	</div>
	<div class="r-search-field">
		{$nacionalidad_editcontrol}	</div>
	<div class="r-search-field">
		{$nacionalidad_editcontrol1}
	</div>
	
</div>

{END nacionalidad_fieldblock}
											
{BEGIN fechanac_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fechanac}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fechanac{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="fechanac" data-fieldname="fechanac" >


	<label class="r-search-label control-label" for="{$labelfor_fechanac}">
		{$label eportal_persons fechanac }	</label>
	<div class="r-search-option">
		{$searchtype_fechanac}
	</div>
	<div class="r-search-field">
		{$fechanac_editcontrol}	</div>
	<div class="r-search-field">
		{$fechanac_editcontrol1}
	</div>
	
</div>

{END fechanac_fieldblock}
											
{BEGIN sexo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_sexo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="sexo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="sexo" data-fieldname="sexo" >


	<label class="r-search-label control-label" for="{$labelfor_sexo}">
		{$label eportal_persons sexo }	</label>
	<div class="r-search-option">
		{$searchtype_sexo}
	</div>
	<div class="r-search-field">
		{$sexo_editcontrol}	</div>
	<div class="r-search-field">
		{$sexo_editcontrol1}
	</div>
	
</div>

{END sexo_fieldblock}
											
{BEGIN estado_civil_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_civil}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_civil{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="estado_civil" data-fieldname="estado_civil" >


	<label class="r-search-label control-label" for="{$labelfor_estado_civil}">
		{$label eportal_persons estado_civil }	</label>
	<div class="r-search-option">
		{$searchtype_estado_civil}
	</div>
	<div class="r-search-field">
		{$estado_civil_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_civil_editcontrol1}
	</div>
	
</div>

{END estado_civil_fieldblock}
											
{BEGIN canthijos_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_canthijos}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="canthijos{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="canthijos" data-fieldname="canthijos" >


	<label class="r-search-label control-label" for="{$labelfor_canthijos}">
		{$label eportal_persons canthijos }	</label>
	<div class="r-search-option">
		{$searchtype_canthijos}
	</div>
	<div class="r-search-field">
		{$canthijos_editcontrol}	</div>
	<div class="r-search-field">
		{$canthijos_editcontrol1}
	</div>
	
</div>

{END canthijos_fieldblock}
											
{BEGIN domicilio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_domicilio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="domicilio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="domicilio" data-fieldname="domicilio" >


	<label class="r-search-label control-label" for="{$labelfor_domicilio}">
		{$label eportal_persons domicilio }	</label>
	<div class="r-search-option">
		{$searchtype_domicilio}
	</div>
	<div class="r-search-field">
		{$domicilio_editcontrol}	</div>
	<div class="r-search-field">
		{$domicilio_editcontrol1}
	</div>
	
</div>

{END domicilio_fieldblock}
											
{BEGIN city_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_city_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="city_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="city_id" data-fieldname="city_id" >


	<label class="r-search-label control-label" for="{$labelfor_city_id}">
		{$label eportal_persons city_id }	</label>
	<div class="r-search-option">
		{$searchtype_city_id}
	</div>
	<div class="r-search-field">
		{$city_id_editcontrol}	</div>
	<div class="r-search-field">
		{$city_id_editcontrol1}
	</div>
	
</div>

{END city_id_fieldblock}
											
{BEGIN distrito_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distrito_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distrito_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="distrito_id" data-fieldname="distrito_id" >


	<label class="r-search-label control-label" for="{$labelfor_distrito_id}">
		{$label eportal_persons distrito_id }	</label>
	<div class="r-search-option">
		{$searchtype_distrito_id}
	</div>
	<div class="r-search-field">
		{$distrito_id_editcontrol}	</div>
	<div class="r-search-field">
		{$distrito_id_editcontrol1}
	</div>
	
</div>

{END distrito_id_fieldblock}
											
{BEGIN esindigena_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_esindigena}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="esindigena{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="esindigena" data-fieldname="esindigena" >


	<label class="r-search-label control-label" for="{$labelfor_esindigena}">
		{$label eportal_persons esindigena }	</label>
	<div class="r-search-option">
		{$searchtype_esindigena}
	</div>
	<div class="r-search-field">
		{$esindigena_editcontrol}	</div>
	<div class="r-search-field">
		{$esindigena_editcontrol1}
	</div>
	
</div>

{END esindigena_fieldblock}
											
{BEGIN id_profesion_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_profesion}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_profesion{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="id_profesion" data-fieldname="id_profesion" >


	<label class="r-search-label control-label" for="{$labelfor_id_profesion}">
		{$label eportal_persons id_profesion }	</label>
	<div class="r-search-option">
		{$searchtype_id_profesion}
	</div>
	<div class="r-search-field">
		{$id_profesion_editcontrol}	</div>
	<div class="r-search-field">
		{$id_profesion_editcontrol1}
	</div>
	
</div>

{END id_profesion_fieldblock}
											
{BEGIN actualizado_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_actualizado}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="actualizado{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="actualizado" data-fieldname="actualizado" >


	<label class="r-search-label control-label" for="{$labelfor_actualizado}">
		{$label eportal_persons actualizado }	</label>
	<div class="r-search-option">
		{$searchtype_actualizado}
	</div>
	<div class="r-search-field">
		{$actualizado_editcontrol}	</div>
	<div class="r-search-field">
		{$actualizado_editcontrol1}
	</div>
	
</div>

{END actualizado_fieldblock}
											
{BEGIN porcentaje_discapacidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_porcentaje_discapacidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="porcentaje_discapacidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="porcentaje_discapacidad" data-fieldname="porcentaje_discapacidad" >


	<label class="r-search-label control-label" for="{$labelfor_porcentaje_discapacidad}">
		{$label eportal_persons porcentaje_discapacidad }	</label>
	<div class="r-search-option">
		{$searchtype_porcentaje_discapacidad}
	</div>
	<div class="r-search-field">
		{$porcentaje_discapacidad_editcontrol}	</div>
	<div class="r-search-field">
		{$porcentaje_discapacidad_editcontrol1}
	</div>
	
</div>

{END porcentaje_discapacidad_fieldblock}
											
{BEGIN adjunto_potencial_discapacidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_adjunto_potencial_discapacidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="adjunto_potencial_discapacidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="adjunto_potencial_discapacidad" data-fieldname="adjunto_potencial_discapacidad" >


	<label class="r-search-label control-label" for="{$labelfor_adjunto_potencial_discapacidad}">
		{$label eportal_persons adjunto_potencial_discapacidad }	</label>
	<div class="r-search-option">
		{$searchtype_adjunto_potencial_discapacidad}
	</div>
	<div class="r-search-field">
		{$adjunto_potencial_discapacidad_editcontrol}	</div>
	<div class="r-search-field">
		{$adjunto_potencial_discapacidad_editcontrol1}
	</div>
	
</div>

{END adjunto_potencial_discapacidad_fieldblock}
											
{BEGIN adjunto_certificado_discapacidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_adjunto_certificado_discapacidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="adjunto_certificado_discapacidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="adjunto_certificado_discapacidad" data-fieldname="adjunto_certificado_discapacidad" >


	<label class="r-search-label control-label" for="{$labelfor_adjunto_certificado_discapacidad}">
		{$label eportal_persons adjunto_certificado_discapacidad }	</label>
	<div class="r-search-option">
		{$searchtype_adjunto_certificado_discapacidad}
	</div>
	<div class="r-search-field">
		{$adjunto_certificado_discapacidad_editcontrol}	</div>
	<div class="r-search-field">
		{$adjunto_certificado_discapacidad_editcontrol1}
	</div>
	
</div>

{END adjunto_certificado_discapacidad_fieldblock}
											
{BEGIN resumen_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_resumen}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="resumen{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="resumen" data-fieldname="resumen" >


	<label class="r-search-label control-label" for="{$labelfor_resumen}">
		{$label eportal_persons resumen }	</label>
	<div class="r-search-option">
		{$searchtype_resumen}
	</div>
	<div class="r-search-field">
		{$resumen_editcontrol}	</div>
	<div class="r-search-field">
		{$resumen_editcontrol1}
	</div>
	
</div>

{END resumen_fieldblock}
											
{BEGIN valor_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_valor}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="valor{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="valor" data-fieldname="valor" >


	<label class="r-search-label control-label" for="{$labelfor_valor}">
		{$label eportal_persons valor }	</label>
	<div class="r-search-option">
		{$searchtype_valor}
	</div>
	<div class="r-search-field">
		{$valor_editcontrol}	</div>
	<div class="r-search-field">
		{$valor_editcontrol1}
	</div>
	
</div>

{END valor_fieldblock}
											
{BEGIN ciudad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ciudad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ciudad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="ciudad" data-fieldname="ciudad" >


	<label class="r-search-label control-label" for="{$labelfor_ciudad}">
		{$label eportal_persons ciudad }	</label>
	<div class="r-search-option">
		{$searchtype_ciudad}
	</div>
	<div class="r-search-field">
		{$ciudad_editcontrol}	</div>
	<div class="r-search-field">
		{$ciudad_editcontrol1}
	</div>
	
</div>

{END ciudad_fieldblock}
											
{BEGIN nacionalidad1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nacionalidad1}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nacionalidad1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="nacionalidad1" data-fieldname="nacionalidad1" >


	<label class="r-search-label control-label" for="{$labelfor_nacionalidad1}">
		{$label eportal_persons nacionalidad1 }	</label>
	<div class="r-search-option">
		{$searchtype_nacionalidad1}
	</div>
	<div class="r-search-field">
		{$nacionalidad1_editcontrol}	</div>
	<div class="r-search-field">
		{$nacionalidad1_editcontrol1}
	</div>
	
</div>

{END nacionalidad1_fieldblock}
											
{BEGIN distrito_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_distrito}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="distrito{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="distrito" data-fieldname="distrito" >


	<label class="r-search-label control-label" for="{$labelfor_distrito}">
		{$label eportal_persons distrito }	</label>
	<div class="r-search-option">
		{$searchtype_distrito}
	</div>
	<div class="r-search-field">
		{$distrito_editcontrol}	</div>
	<div class="r-search-field">
		{$distrito_editcontrol1}
	</div>
	
</div>

{END distrito_fieldblock}
											
{BEGIN edad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_edad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="edad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="edad" data-fieldname="edad" >


	<label class="r-search-label control-label" for="{$labelfor_edad}">
		{$label eportal_persons edad }	</label>
	<div class="r-search-option">
		{$searchtype_edad}
	</div>
	<div class="r-search-field">
		{$edad_editcontrol}	</div>
	<div class="r-search-field">
		{$edad_editcontrol1}
	</div>
	
</div>

{END edad_fieldblock}
											
{BEGIN multiselect_discapacidades_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_multiselect_discapacidades}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="multiselect_discapacidades{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="multiselect_discapacidades" data-fieldname="multiselect_discapacidades" >


	<label class="r-search-label control-label" for="{$labelfor_multiselect_discapacidades}">
		{$label eportal_persons multiselect_discapacidades }	</label>
	<div class="r-search-option">
		{$searchtype_multiselect_discapacidades}
	</div>
	<div class="r-search-field">
		{$multiselect_discapacidades_editcontrol}	</div>
	<div class="r-search-field">
		{$multiselect_discapacidades_editcontrol1}
	</div>
	
</div>

{END multiselect_discapacidades_fieldblock}
											
{BEGIN tipo_discapacidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_tipo_discapacidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="tipo_discapacidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="tipo_discapacidad" data-fieldname="tipo_discapacidad" >


	<label class="r-search-label control-label" for="{$labelfor_tipo_discapacidad}">
		{$label eportal_persons tipo_discapacidad }	</label>
	<div class="r-search-option">
		{$searchtype_tipo_discapacidad}
	</div>
	<div class="r-search-field">
		{$tipo_discapacidad_editcontrol}	</div>
	<div class="r-search-field">
		{$tipo_discapacidad_editcontrol1}
	</div>
	
</div>

{END tipo_discapacidad_fieldblock}
											
{BEGIN nombres_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nombres}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nombres{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="nombres" data-fieldname="nombres" >


	<label class="r-search-label control-label" for="{$labelfor_nombres}">
		{$label eportal_persons nombres }	</label>
	<div class="r-search-option">
		{$searchtype_nombres}
	</div>
	<div class="r-search-field">
		{$nombres_editcontrol}	</div>
	<div class="r-search-field">
		{$nombres_editcontrol1}
	</div>
	
</div>

{END nombres_fieldblock}
											
{BEGIN localidad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_localidad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="localidad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="localidad" data-fieldname="localidad" >


	<label class="r-search-label control-label" for="{$labelfor_localidad}">
		{$label eportal_persons localidad }	</label>
	<div class="r-search-option">
		{$searchtype_localidad}
	</div>
	<div class="r-search-field">
		{$localidad_editcontrol}	</div>
	<div class="r-search-field">
		{$localidad_editcontrol1}
	</div>
	
</div>

{END localidad_fieldblock}
											
{BEGIN id_visible_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_visible}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_visible{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="id_visible" data-fieldname="id_visible" >


	<label class="r-search-label control-label" for="{$labelfor_id_visible}">
		{$label eportal_persons id_visible }	</label>
	<div class="r-search-option">
		{$searchtype_id_visible}
	</div>
	<div class="r-search-field">
		{$id_visible_editcontrol}	</div>
	<div class="r-search-field">
		{$id_visible_editcontrol1}
	</div>
	
</div>

{END id_visible_fieldblock}
											
{BEGIN estado_ips_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_estado_ips}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="estado_ips{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="estado_ips" data-fieldname="estado_ips" >


	<label class="r-search-label control-label" for="{$labelfor_estado_ips}">
		{$label eportal_persons estado_ips }	</label>
	<div class="r-search-option">
		{$searchtype_estado_ips}
	</div>
	<div class="r-search-field">
		{$estado_ips_editcontrol}	</div>
	<div class="r-search-field">
		{$estado_ips_editcontrol1}
	</div>
	
</div>

{END estado_ips_fieldblock}
											
{BEGIN nro_documento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nro_documento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nro_documento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="nro_documento" data-fieldname="nro_documento" >


	<label class="r-search-label control-label" for="{$labelfor_nro_documento}">
		{$label eportal_persons nro_documento }	</label>
	<div class="r-search-option">
		{$searchtype_nro_documento}
	</div>
	<div class="r-search-field">
		{$nro_documento_editcontrol}	</div>
	<div class="r-search-field">
		{$nro_documento_editcontrol1}
	</div>
	
</div>

{END nro_documento_fieldblock}
											
{BEGIN nro_cel_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nro_cel}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="nro_cel{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="nro_cel" data-fieldname="nro_cel" >


	<label class="r-search-label control-label" for="{$labelfor_nro_cel}">
		{$label eportal_persons nro_cel }	</label>
	<div class="r-search-option">
		{$searchtype_nro_cel}
	</div>
	<div class="r-search-field">
		{$nro_cel_editcontrol}	</div>
	<div class="r-search-field">
		{$nro_cel_editcontrol1}
	</div>
	
</div>

{END nro_cel_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
