<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emplea :: Buscador  - {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" src="images/imgob23/gob_ico.png" type="image/x-icon" sizes="32x32"> 
	<base href="{$projectPath}">
	 <link rel="stylesheet" href="images/icons_v4/font/bootstrap-icons.css">
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.mtess.gov.py/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '14']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     crossorigin=""/>
 		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel bolsa_empleo_vacancia search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_vacancias_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_vacancias}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_vacancias{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_vacancias" data-fieldname="id_vacancias" >


	<label class="r-search-label control-label" for="{$labelfor_id_vacancias}">
		{$label bolsa_empleo_vacancia id_vacancias }	</label>
	<div class="r-search-option">
		{$searchtype_id_vacancias}
	</div>
	<div class="r-search-field">
		{$id_vacancias_editcontrol}	</div>
	<div class="r-search-field">
		{$id_vacancias_editcontrol1}
	</div>
	
</div>

{END id_vacancias_fieldblock}
											
{BEGIN id_empresa_sucursal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_empresa_sucursal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_empresa_sucursal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_empresa_sucursal" data-fieldname="id_empresa_sucursal" >


	<label class="r-search-label control-label" for="{$labelfor_id_empresa_sucursal}">
		{$label bolsa_empleo_vacancia id_empresa_sucursal }	</label>
	<div class="r-search-option">
		{$searchtype_id_empresa_sucursal}
	</div>
	<div class="r-search-field">
		{$id_empresa_sucursal_editcontrol}	</div>
	<div class="r-search-field">
		{$id_empresa_sucursal_editcontrol1}
	</div>
	
</div>

{END id_empresa_sucursal_fieldblock}
											
{BEGIN id_contacto_sucursal_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_contacto_sucursal}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_contacto_sucursal{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_contacto_sucursal" data-fieldname="id_contacto_sucursal" >


	<label class="r-search-label control-label" for="{$labelfor_id_contacto_sucursal}">
		{$label bolsa_empleo_vacancia id_contacto_sucursal }	</label>
	<div class="r-search-option">
		{$searchtype_id_contacto_sucursal}
	</div>
	<div class="r-search-field">
		{$id_contacto_sucursal_editcontrol}	</div>
	<div class="r-search-field">
		{$id_contacto_sucursal_editcontrol1}
	</div>
	
</div>

{END id_contacto_sucursal_fieldblock}
											
{BEGIN id_rubro_add_edit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_rubro_add_edit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id_rubro_add_edit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="id_rubro_add_edit" data-fieldname="id_rubro_add_edit" >


	<label class="r-search-label control-label" for="{$labelfor_id_rubro_add_edit}">
		{$label bolsa_empleo_vacancia id_rubro_add_edit }	</label>
	<div class="r-search-option">
		{$searchtype_id_rubro_add_edit}
	</div>
	<div class="r-search-field">
		{$id_rubro_add_edit_editcontrol}	</div>
	<div class="r-search-field">
		{$id_rubro_add_edit_editcontrol1}
	</div>
	
</div>

{END id_rubro_add_edit_fieldblock}
											
{BEGIN ciudad_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ciudad}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ciudad{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ciudad" data-fieldname="ciudad" >


	<label class="r-search-label control-label" for="{$labelfor_ciudad}">
		{$label bolsa_empleo_vacancia ciudad }	</label>
	<div class="r-search-option">
		{$searchtype_ciudad}
	</div>
	<div class="r-search-field">
		{$ciudad_editcontrol}	</div>
	<div class="r-search-field">
		{$ciudad_editcontrol1}
	</div>
	
</div>

{END ciudad_fieldblock}
											
{BEGIN departamento_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_departamento}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="departamento{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="departamento" data-fieldname="departamento" >


	<label class="r-search-label control-label" for="{$labelfor_departamento}">
		{$label bolsa_empleo_vacancia departamento }	</label>
	<div class="r-search-option">
		{$searchtype_departamento}
	</div>
	<div class="r-search-field">
		{$departamento_editcontrol}	</div>
	<div class="r-search-field">
		{$departamento_editcontrol1}
	</div>
	
</div>

{END departamento_fieldblock}
											
{BEGIN fk_id_feria_empleo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_id_feria_empleo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fk_id_feria_empleo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="fk_id_feria_empleo" data-fieldname="fk_id_feria_empleo" >


	<label class="r-search-label control-label" for="{$labelfor_fk_id_feria_empleo}">
		{$label bolsa_empleo_vacancia fk_id_feria_empleo }	</label>
	<div class="r-search-option">
		{$searchtype_fk_id_feria_empleo}
	</div>
	<div class="r-search-field">
		{$fk_id_feria_empleo_editcontrol}	</div>
	<div class="r-search-field">
		{$fk_id_feria_empleo_editcontrol1}
	</div>
	
</div>

{END fk_id_feria_empleo_fieldblock}
											
{BEGIN regresi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_regresi}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="regresi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="regresi" data-fieldname="regresi" >


	<label class="r-search-label control-label" for="{$labelfor_regresi}">
		{$label bolsa_empleo_vacancia regresi }	</label>
	<div class="r-search-option">
		{$searchtype_regresi}
	</div>
	<div class="r-search-field">
		{$regresi_editcontrol}	</div>
	<div class="r-search-field">
		{$regresi_editcontrol1}
	</div>
	
</div>

{END regresi_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} data-page=undefined >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
